<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56321185909-je0np6cimob2nbg2nsvjmv70tvu7n9it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56321185909-je0np6cimob2nbg2nsvjmv70tvu7n9it</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56321185909-a5i8v0779u1jlr0dvb6lro89kvt3bfp6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKGGLIIyKj_5W-6368C4lQGFhPE_D99Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>56321185909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartRt</string>
	<key>PROJECT_ID</key>
	<string>smart-rt-a2abb</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-rt-a2abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56321185909:ios:e3e68929ff9ef557c1403c</string>
</dict>
</plist>